:root {

    /** primary **/
    --ion-table-primary:#fbfbfb; 
    --mt-primary-bg:#c2185b;

//font size
--mt-icon-xxxlargefont:30pt;
--mt-xxlarge-font: 20pt;
--mt-xlarge-font:18pt;
--mt-large-font:16pt;
--mt-default-font:14pt;
--mt-default-px-font:14px;
--mt-medium-font:12pt;
--mt-small-font:11pt;
--mt-xsmall-font:10pt;
--mt-sm-font:8pt;

// Font-color-table
--mt-fntth-color:#555;

// Mat-Card
--mt-card-bg:#eee;

// Table bg
--mt-table-bgwhite:#fff;
}


